.grid-container {
    display: grid;
    grid-gap: 5px;
}

.intent {
    grid-row: 1/2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.non-intent {
    grid-row: 2/2;
}

.recipient {
    grid-column: 1/2;
}

.emailbody {
    grid-column: 2/2;
}

.submit {
    position: fixed;
    bottom: 16px;
    right: 16px;
    grid-column: 2/2;
}