{
    "presets": [
      "@babel/preset-react",
      "@babel/preset-typescript",
      [
        "@babel/preset-env",
        {
          "targets": {
            "browsers": "last 2 versions"
          },
          "modules": false,
          "loose": false
        }
      ]
    ],
    "plugins": [
      "transform-class-properties",
       "react-hot-loader/babel",
       "@babel/plugin-proposal-export-namespace-from",
        ["@babel/plugin-transform-runtime",
        {
            "absoluteRuntime": false,
            "corejs": false,
            "helpers": true,
            "regenerator": true,
            "useESModules": false
        }]
    ],
    "env": {
      "test": {
        "plugins": [
          "transform-es2015-modules-commonjs"
        ]
      }
    }
  }